<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/create">Create User</a>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Email</th>
          <th scope="col">Name</th>
          <th scope="col">City</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((item) => { %>
        <tr>
          <th scope="row"><%= item.id %></th>
          <td><%= item.email %></td>
          <td><%= item.name %></td>
          <td><%= item.city %></td>

          <td>
            <form action="/remove/<%= item.id %>" method="POST">
              <button type="submit">Remove</button>
            </form>
            <a href="/update/<%= item.id %>">Edit</a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
